
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("Guitar Heaven Luthier", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <ul id="navBar" class="nav navbar-nav navbar-right">
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Guitars" ? "active" : "")">@Html.ActionLink("Guitars", "Index", "Guitars")</li>
                @if (Session["user"] == null)
                {
                    <li class="@(ViewContext.RouteData.Values["Controller"].ToString() == "Customers" ? "active" : "")">@Html.ActionLink("Login", "Login", "Customers")</li>
                }
                else
                {
                    <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Account" ? "active" : "")">@Html.ActionLink("My Account", "Account", "Customers")</li>
                    <li>@Html.ActionLink("Logout", "Logout", "Customers")</li>
                }
            </ul>
        </div>
    </nav>
    <header class="jumbotron myheader text-center">
        <div class="container">
            <br><br><br><br><br><br><br>
            <h1>Guitar Heaven</h1>
            <br>
            <p>Place where your guitars will get a new life</p>
            <br>
            <p><a id="slideButton" class="btn btn-primary btn-lg" href="#more" role="button">Learn more</a></p>
        </div>
    </header>

    <section id="more" class="container marketing">
        <h3 class="hidden">3 steps</h3>

        <div class="row">
            <div class="col-lg-4">
                <article>
                    <img class="img-circle" src='@Url.Content("~//Content//img//message1.jpg")' alt="Message image" width="140" height="140">
                    <h2>Message us</h2>
                    <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
                    <p><a class="btn btn-default" href="@Url.Action("Create", "Messages")" role="button">Send Message &raquo;</a></p>
                </article>
            </div>
            <div class="col-lg-4">
                <article>
                    <img class="img-circle" src='@Url.Content("~//Content//img//order.jpg")' alt="Order image" width="140" height="140">
                    <h2>Make an order</h2>
                    <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
                    <p><a class="btn btn-default" href="@Url.Action("Create", "Orders")" role="button">Order Guitar &raquo;</a></p>
                </article>
            </div>
            <div class="col-lg-4">
                <article>
                    <img class="img-circle" src='@Url.Content("~//Content//img//happy.jpg")' alt="Happy woman image" width="140" height="140">
                    <h2>Be happy</h2>
                    <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
                    <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
                </article>
            </div>
        </div>
    </section>

    <section class="container">
        <h3 class="hidden">Our advantages</h3>
        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <article>
                    <header>
                        <h2 class="featurette-heading">Tradition of making guitars. <span class="text-muted">Love and passion.</span></h2>
                    </header>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </article>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto img-responsive img-rounded" src='@Url.Content("~//Content//img//luthier1.jpg")' alt="Old luthier image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <article>
                    <header>
                        <h2 class="featurette-heading">Years of experience. <span class="text-muted">Hundreds of guitars made.</span></h2>
                    </header>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </article>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-fluid mx-auto img-responsive img-rounded" src='@Url.Content("~//Content//img//guitars.jpg")' alt="Guitars image">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <article>
                    <header>
                        <h2 class="featurette-heading">Details and precision. <span class="text-muted">Our two best friends.</span></h2>
                    </header>
                    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
                </article>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto img-responsive img-rounded" src='@Url.Content("~//Content//img//luthier2.jpg")' alt="Guitar plan image">
            </div>
        </div>

        <hr class="featurette-divider">
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="page-header">
                    <h1>Our workplace <small>where to find us</small></h1>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="embed-responsive embed-responsive-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2444.0946595831592!2d20.994450577167637!3d52.22349800145272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfd5f36ad75e9e7f5!2sPolsko-Japo%C5%84ska+Akademia+Technik+Komputerowych!5e0!3m2!1spl!2spl!4v1490355239283" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
        <div style="height:30px;">

        </div>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <section class="col-xs-12 col-sm-4">
                    <h4>Contact details</h4>
                    <address>
                        <strong>Guitar Heaven, Inc.</strong><br>
                        ul. Koszykowa 86<br>
                        02-008 Warsaw<br>
                        <abbr title="Phone">Phone:</abbr> 776-453-221
                    </address>

                    <address>
                        <strong>Full Name</strong><br>
                        <a href="mailto:#">first.last@example.com</a>
                    </address>
                </section>
                <section class="col-xs-12 col-sm-4 col-sm-offset-4">
                    <h4>Useful links</h4>
                    <ul class="list-unstyled">
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Prices</a></li>
                        <li><a href="#">About us</a></li>
                    </ul>
                </section>
            </div>
        </div>
    </footer>

    <script src="~/scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>
        $('#slideButton').click(function (e) {
            e.preventDefault();

            var scrollto = $(this).attr('href');
            $('html, body').animate({
                scrollTop: $(scrollto).offset().top
            }, 1200);
        });
    </script>
</body>
</html>

