@model LuthierWebApp.Models.Order

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SubPagesLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Guitar.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guitar.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Luthier.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Luthier.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
