@model LuthierWebApp.Models.Guitar

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_SubPagesLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Guitar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrOfStrings)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrOfStrings)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GuitarId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
